API_HASH="YOUR-API-HASH"
API_ID="YOUR-API-ID"
BOT_TOKEN="YOUR-TELEGRAM-BOT-TOKEN"
BOT_USERNAME="YOUR-TELEGRAM-BOT-USERNAME"
CHANNEL="YOUR-TELEGRAM-BOT-CHANNEL"
ES_MOVIES_CHANNEL="https://t.me/+ZHVk4AoouP85NGVh"
ES_SERIES_CHANNEL="https://t.me/+tf2D067PgIY1ODdh"
MANAGEMENT_MODE="..."
MANTAINER="DEV-USERNAME"
SESSION_STRING="..."

# POSTGRES SETTINGS
PGUSER="postgres"
POSTGRES_DB="bot"
POSTGRES_USER="kreacher"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="localhost" # 'db' for docker
POSTGRES_PORT="5433"
POSTGRES_HOST_AUTH_METHOD="trust"

# PGADMIN SETTINGS
PGADMIN_DEFAULT_EMAIL="bot@kreacher.com"
PGADMIN_DEFAULT_PASSWORD="password"

# REDIS SETTINGS
REDIS_HOST="localhost" # 'cache' for docker
REDIS_PORT="6379"
REDIS_PASSWORD="password"