dbs
tmp
logs
cache
models
downloads
__pycache__
kreacher_env
unknown_errors.txt
kreacher.bot.session
kreacher.bot.session-journal
kreacher.client.session
kreacher.client.session-journal

.env
:memory:.session

.codesandbox/