__pycache__
find_movie.py
cache
logs
downloads
kreacher.bot.session
kreacher.bot.session-journal
kreacher.client.session
kreacher.client.session-journal
kreacher_env

.env
:memory:.session

# dbs
chats.json.lock